@media (max-width: 1199px) {
    }

@media (max-width: 991px) {
    .main-page #section1 {
        padding-left: 35px;
        padding-right: 35px;}
    .main-page #section2 {
        padding-left: 35px;
        padding-right: 35px;
    }
    }

@media (max-width: 767px) {
    .main-page #section1 {
        padding-left: 15px;
        padding-right: 15px;
    }
    .main-page #section2 {
        padding-left: 15px;
        padding-right: 15px;}
    .navbar-toggle {
        background-color: #fff;
        margin-top: 0;
    }
    .custom-nav {
        background-color: #f8f8f8;
        border-color: #e7e7e7;
        padding-bottom: 0;

        .container {
            padding: 0;
        }

        .cust-logo{
            padding-left:10px;
        }
    }
    .custom-nav .nav > li > a:hover, .custom-nav .nav > li > a:focus, .custom-nav .nav > li > a:active {
        color: #808080;
        
        background-color: transparent;
    }
    .custom-nav .nav > li > a {
        font-weight: bold;
    }
     .custom-nav .nav > li.active > a {
        color: #808080;
        font-weight: bold;
    }
    #fullpage{
        margin-top:50px;
    }
    .stroke{
        font-size:0.6em;
    }
    #Marathon .intro p a.social i{
        color:#fff;
    }
    .owlCarouselWraper {
        .owl-carousel{ div.item {
            .overlay {
                opacity: 1;
                background-color: rgba(0,0,0,.5);

                /*img {
                    opacity: 1;
                }*/
            }
        }}
    }
    .ad {
        display: none;
    }

    .map {
        display: none;
    }

    .media-left, .media-right, .media-body {
        display: block;
    }

    .media-body {
        width: auto;
    }

    #section-a-5 .hover-wraper > div > img {
        position: relative;
    }

    #section-a-5 .hover-wraper > div {
        height: auto;
    }

    .table {
        width: 100%;
    }

    #section-a-4 h2 {
        margin: 0 10px;
        padding: 0;
    }

    .arrow-block {
        display: none;
    }

    #section-a-4 .face-box {
        padding: 0 10px;
    }

    #section-a-4 .item-center .face-box {
        padding: 0 10px;
        padding-top: 10px;
    }

    #section-a-4 .item-center .full {
        padding: 0px 10px;
        display: block;
    }

    #section-a-4 .item-left div.full {
        display: block;
        padding: 10px;
    }

    #section-a-4 .item-right div.full {
        padding: 10px;
        display: block;
    }

    #section-a-4 .col-md-3 .face-box {
        padding: 10px;
    }

    .details {
        display: none;
    }

    #section-a-4 .item h5 {
        color: black;
        padding: 0 10px;
    }

    #section-a-4 .item-left p.little, #section-a-4 .item-right p.little,
    #section-a-4 .item-center p.little {
        display: none;
        padding: 0 10px;
    }

    #section-a-4 .item-center h5 {
        padding: 0 10px;
    }
}

@media (max-width: 479px) {
    .main-page #section1 {
        padding-left: 0;
        padding-right: 0;
    }

    .main-page #section2 {
        padding-left: 0;
        padding-right: 0;
    }
    }
