@import "_CSSReset";
@import "../lib/bootstrap/stylesheets/_bootstrap.scss";
@import "_font";
@import "_const";
body {
    @include open;
}

/* Fixed header and footer.
	* --------------------------------------- */
.custom-nav {
    background-color: transparent;
    padding-top: 10px;
    padding-bottom: 10px;
    border-color: transparent;


    .cust-logo {
        img {
            max-width: 100%;
        }
    }


    .nav > li > a {

        @include open;
        font-size: 17px;
        text-transform: uppercase;
        padding-top: 5px;
        padding-bottom: 5px;
        color: #adadad;
        padding-left: 5px;
        padding-right: 5px;
        transition: color .05s linear;
    }

    .nav > li.active > a {
        color: #fff;
    }

    .nav > li > a:hover,
    .nav > li > a:focus,
    .nav > li > a:active {
        color: #fff;
        background-color: transparent;
    }
}

/*Main*/


    #Marathon {
        background-size: cover;
        background-image: url('../img/main/main.jpg');

        .intro p {
            font-size: 54px;
            line-height: 64px;

            a.social {
                line-height: 21px;
                font-size: 24px;
                height: 24px;
                width: 24px;
                display: block;
                background-color: #8b9dc3;
                margin:0 auto;
            }

            a.social:hover {
                background-color: #3b5998;
            }

            i {
                font-size: 24px;
                color: #fff;
            }
        }
    }

    #section1 {
        padding-left: 50px;
        padding-right: 50px;

        h2 {
            text-align: center;
            color: #fff;
        }

        background-size: cover;
        background-image: url('../img/main/bigest.jpg');
    }
   
    #section2 {
        padding-left: 50px;
        padding-right: 50px;

        h2 {
            text-align: center;
            color: #fff;
        }

        background-size: cover;
        background-image: url('../img/main/beautifull.jpg');

        .owlCarouselWraper {
        }
    }
    /*#section3 {
        h2 {
            text-align: center;
        }

        background-size: cover;
        background-image: url('../img/main/strange.jpg');
    }*/
    .owlCarouselWraper {
        position: relative;

        .prev, .next {
            position: absolute;
            z-index: 999;
            height: 100%;
            top: 0;
            background-color: transparent;

            a {
                height: 100%;
                display: block;
                position: relative;
                padding-left: 5px;
                padding-right: 5px;
                display: flex;

                img {
                    width: 28px;
                    margin: auto;
                }
            }
        }

        .prev:hover,
        .next:hover {
            background-color: rgba(0,0,0,.3);
            transition-duration: .3s;
            transition-timing-function: ease-out;
            transition-property: opacity,transform,filter;
        }

        .left {
            left: 0;
        }

        .next {
            right: 15px;

            a {
                right: 0;
            }
        }

        .owl-carousel {
            div.item {
                .overlay {
                    top: 0;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    position: absolute;
                    transition-duration: .3s;
                    transition-timing-function: ease-out;
                    transition-property: opacity,transform,filter;
                    color: #fff;

                    img {
                        width: 38px;
                        position: absolute;
                        opacity: 0;
                        top: calc(50% - 19px);
                        left: calc(50% - 19px);
                    }

                    a {
                        position: absolute;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        display: block;
                        z-index: 998;
                    }

                    p {
                        color: #fff;
                        z-index: 997;
                        position: absolute;
                        bottom: 0;
                        padding-bottom: 10px;
                        padding-left: 10px;
                        font-size: 18px;
                    }
                }
            }
        }

        div.item:hover {
            .overlay {
                opacity: 1;
                background-color: rgba(0,0,0,.5);

                img {
                    opacity: 1;
                }
            }
        }
    }


     #section-a-1{
        
        h2{
           
            text-align: center;
            font-size: 50px;
            color: white;
            text-transform: uppercase;
        }
    }
    #section-a-2{
        h2{
             
            text-align: center;
            font-size: 40px;
            color: gray;
            text-transform: uppercase;
            margin-top: 100px;
           
        }
        .border-title{
            border-bottom: 2px solid gray; 
             margin-bottom:40px;
        }
        .stars-block{
            span{
                color: gold;
            }
        }
        p{
            text-align: justify;
            font-size: 18px;
            color: gray;
            margin-bottom: 100px;
            font-weight: 400;
        }
    }

   #section-a-4{
        background-color: rgb(220,220,220);
        
       .face-box{
           border-radius: 30%;
       }
       .col-md-3 .face-box{
           padding-top: 70px;
       }
       .arrow-block {
           padding-top: 170px;
       }
       .item{
           display:none;
           h5{
               color:black;
           }
           p{
               color: black;
           }
       }
       .item.active{
           display: block;
       }
   }
    

.scrollup {
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 50px;
    left: 100px;
    display: block;
    color:#fff;
    i{
        color:#dcdcdc;
    }
    i:hover{
        color:#fff;
    } 
}



/*EndMain*/
@import "_media.scss";
